@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
*{
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: 'Baloo Bhai 2', cursive;
    width: 100%;
    box-sizing: border-box;

}

img{
    height: 250px;
    width: 250px;
   
}
.sec-2{
    width:100%;
    height:100;
    padding:25px;
    padding-top:0;
    padding-bottom: 25px;
}
.sec-2 h3{
    font-size: 20px;
    padding-bottom: 5px;
    margin-top:5px;
}
.slide-sec{
    height: 100%;
    width:100%;
    padding:35px;
    overflow-x: hidden;
border: none;
    position: relative;
    margin-top: 20px;
    margin-bottom: 25px;
}
.product-slide{
    display: flex;
    margin-top: 10px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.product-slide::-webkit-scrollbar{
 
    height:7px; 
    cursor: pointer;
}
.product-slide::-webkit-scrollbar-thumb{
    border-radius: 10px;
    cursor: pointer;
}
.product-slide li{
    list-style: none;
    margin-right: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
.l-btn, 
.r-btn{
  
    color: black;
    height:50px;
    width:50px;
    margin-top: -30px;
    margin-left: 20px;
    text-align: center;
    cursor:pointer;
    top:50%;
    list-style: none;
    border: none;
    position: absolute; 
   background-color: darkcyan;
   
}
.l-btn{
    border-radius: 0 5px 5px 0;
    left:10px;
}
.r-btn{
    border-radius: 5px 0 0 5px;
    right:10px;
}

.r-btn i, .l-btn i{
    color: brown;
    position:absolute;
    font-size: 30px;
    top:35%;
    left:12%;
    right:12%;
}
.slide-sec h3{
    font-size: 20px;
    margin-top:5px;
    margin-bottom: 0;
}
.product-slide.product-slide-1{
    display: flex;
    margin-top: 35px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
span{

}
button{
    border: none;

}